.main{
    // background-color: gold;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    .wrapCard{
        display: flex;
        height: 600px;
        width: 1010px;
        flex-wrap: wrap;
        backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    }
}